.form-new {
  text-align: center;
  margin: 40px;
  padding: 40px;

}


.button {
    background-color: blue;
    border-radius: 20px;
    box-shadow: 1 1 1 1px;
    width: 200px;
    text-align: center;
    align-items: center;
  }
