<div class="footer">
  <div class="footer-links">
    <a href="https://github.com/ClementineDelthe"><i class="fab fa-github"></i></a>
    <a href="https://www.linkedin.com/in/cl%C3%A9mentine-delth%C3%A9-344bb2107/"><i class="fab fa-linkedin"></i></a>
  </div>
  <div class="footer-copyright">
    This footer is made with <i class="fas fa-heart"></i> by Clem
  </div>
</div>
